%h1.page-title API Responses

%table.api-responses
  %thead
    %tr
      %th Initiated
      %th Time Elapsed (ms)
      %th Server Status
      %th Server Response Time (ms)
      %th Stories Retrieved
      %th CMS ID(s)
      %th
  %tbody
    - @api_responses.each do |api_response|
      %tr.api-response
        %td.api-response__request-initiated= api_response.request_initiated
        %td.api-response__time-elapsed= api_response.time_elapsed
        %td.api-response__server-status= api_response.server_status
        %td.api-response__server-response-time= api_response.server_response_time
        %td.api-response__stories-retrieved= api_response.stories_retrieved
        %td.api-response__cms-ids= api_response.cms_ids
        %td= link_to "Show", api_response
