%dl.api-response
  %dt Initiated
  %dd.api-response__request-initiated= @api_response.request_initiated
  %dt Time Elapsed (ms)
  %dd.api-response__time-elapsed= @api_response.time_elapsed
  %dt Server Status
  %dd.api-response__server-status= @api_response.server_status
  %dt Server Response Time (ms)
  %dd.api-response__server-response-time= @api_response.server_response_time
  %dt Stories Retrieved
  %dd.api-response__stories-retrieved= @api_response.stories_retrieved
  %dt CMS ID(s)
  %dd.api-response__cms-ids= @api_response.cms_id_range
