.h-entry
  %article
    %h1.p-name= @story.headline.html_safe
    .p-author= @story.byline.html_safe
    %hr
    .e-content
      = @story.body.html_safe
  %aside
    = link_to "View NITF", story_path(@story.id, format: :xml), class: "action-btn"
    %dl.story
      %dt CMS ID
      %dd.story__cms-id= @story.cms_id
      %dt Publish Date
      %dd= @story.published_at
      %dt Category/Subcategory
      %dd= "#{@story.category}/#{@story.subcategory}" || "–"
      %dt Keywords
      %dd= @story.keywords || "–"

%hr

.photos
  %ul
    - @story.photos.each do |photo|
      %li.photo= link_to image_tag(photo.source), photo
      
